body{
    background-color: rgb(253, 245, 234);
}
body h1{
    color: darkslateblue;
    text-align: center;
    font-style: oblique;
    text-decoration: underline;
}
.main1{
    height: 150px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: darkturquoise;
    border: 1px solid black;
    border-radius: 5px;
}
.main2{
    height: 400px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: darkturquoise;
    border: 1px solid black;
    border-radius: 5px;
}