body{
    background-color: rgb(186, 211, 208);
    color: blue;
}
body h1{
    color: darkslateblue;
    text-align: center;
    font-style: oblique;
    text-decoration: underline;
}
body h3{
    color: rgb(199, 48, 10);
    font-style: italic;
}
body h4{
    color: rgb(113, 115, 129);
}